<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Victory</title>
</head>
<body style="text-align: center;">
    <h1>Congratulations!</h1>
    <p>You've successfully paid off your debt and reached $1,000,000!</p>
    <p>You are now financially free. Great job!</p>
    <a href="/restart_game">Play Again</a>
</body>
</html>
